*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,li,a{
    list-style-type: none;
}
.header-top{
    width: 100%;
    height: 56px;
}
.bacol{
    width: 100%;
    height: 56px;
    background-color: rgb(37,41,46);
    
}
.content{
    width: 72%;
    height:56px;
    margin: 0 auto;
}
.top-left{
    width: auto;
    height:56px;
    float: left;
}
.img{
    width: 95px;
    height: 38px;
    margin-top: 9PX;
    background: url(../images/icon.png) 0 0 no-repeat;
    transition-duration: 0.5s;
}

.img:hover{
    opacity: 0.8;
    transition-duration: 0.5s;
}
.top-right{
    width: auto;
    height:56px;
    float: right;
}
.log a{
    margin-right: 4px;
    color: #ccc !important;
}
.top-right li{
    font-size: 12px;
    float: left;
    line-height: 56px;
    padding: 0 7.5px;
    position: relative;
}
.top-right li a {
    letter-spacing:1px;
    color: rgb(102,102,102);
}
.line{
    font-size:8px; 
    color: rgb(82, 89, 97);
}
#cart{
    display: none;
    background-color:rgb(41, 47, 52);
    position: absolute;
    top:55px;
    right: -160px;
    width: 320px;
    text-align: center;
    font-size:13px;
    color: rgb(204, 204, 204);
    z-index: 99999;
}
.shop-up{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #7dbfde;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.block:hover #cart{
    background-color:rgb(41, 47, 52);
    display: block;
}
.block:hover{
    background-color:rgb(41, 47, 52);
}
.block a:hover{
    color:rgb(204,204,204);
}
#message{
    display: none;
    position: absolute;
    top: 56px;
    background: #292f34;
    width: 190px;
    right: -69px;
    z-index: 99999;
}
#message>a{    
    width: 160px;
    height: 44px;
    line-height: 44px;
    background: #292f34;
}
#message>a>span{
    display: inline-block;
    width:175px;
    margin-left: 12px;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #3f4449;
    color: #ccc;
    font-size: 12px;
    letter-spacing: 1.5px;  /*字间距*/
}
#message>a>span>small{
    float: right;
    margin-right: 12px;
}
.block:hover #message{
    display: block;
}
#message>a>span:hover{
    background-color: rgb(46,53,61);
}
.header-bottom{   
    width: 72%;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    height: 45px;
    border-bottom: 4px solid #ededed;
    background: #fff;
    /* overflow: hidden; */
}
.banner{
    width: 77%;
    height: 49px;
    float: left;
}
.banner>li{
    line-height: 45px;
    width: 118px;
    text-align: left;
    float: left;
    margin:0 10px;
    text-align: center;
}
.banner>li>a{
    font-size: 15px;
    color:black;
}
.banner>li:hover{
    border-bottom: 3px solid black;
}
.search{
    width: 23%;
    height: 49px;
    float: right;
    line-height: 49px;
    overflow: hidden;
}
#sch{
    margin-left:226px;
    top:10px;
    width: 223px;
    height: 30px;
    border:none;
    padding-bottom: 3.5px;
    border-bottom:3px solid black;
    font-size: 15px;
    outline:none;
}
#magnifier{
    position: absolute;
    right: 0px;
    top:15px;
}



.carousel {
    position: relative;
    width: 1000px;
    height: 475px;
    margin: 30px auto;
    border: 1px solid #333;
    overflow: hidden;
  }
  .carousel .m_unit {
    width: 7000px;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .carousel ul {
    list-style: none;
  }
  .carousel ul li {
    float: left;
    width: 1000px;
    height: 475px;
  }

  .btns a {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 50%;
    margin-top: -20px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    z-index: 999;
  }
  .btns a:hover {
      
  }
  .leftBtn {
    left: 10px;
  }
  .rightBtn {
    right: 10px;
  }
  .circles {
    position: absolute;
    width: 150px;
    height: 16px;
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
    top:620px;
  }
  .circles ol {
    list-style: none;
  }
  .circles ol li {
    float: left;
    width: 20px;
    height: 4px;
    cursor: pointer;
    background-color:rgb(232,232,232);
    margin-right: 6px;
  }
  .circles ol li.current {
    background-color: rgb(69, 73, 77);
  }




.shoppings{
    width: auto;
    height: 2000px;
}


  
.service{
    width: 100%;
    height: 248px;
    background-color: rgb(251, 253, 254);
    border-top: rgb(237,237,237) 1px solid;
}
.service>a{
    display: inline-block;
    width: 177px;
    height: 16px;
    margin: 50px 0 0 45%;
    background: url(../images/icon.png) no-repeat 0px -416px;
}
.hand{
    position: absolute;
    width: 32px;
    height:15px;
    margin-left: -55px;
    background: url(../images/icon.png) no-repeat -170px -355px;
}
.slogen{
    padding-top: 42px;
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}
.first {
    width: 25%;
    float: left;
    height: 60px;
}
.first>dt{
    width: 56px;
    height:60px;
    float: left;
    background: url(../images/icon.png) no-repeat 0px -355px;
}
.first dd{
    float: left;
    height: 60px;
    padding: 9px 0 0 20px;
    letter-spacing: 1.2px;
}
.fine{
    overflow: hidden;
    font-size: 14px;
    color: #737373;
    text-align: left;
}
.global{
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    line-height: 22px;
    color: #ccc;
}
.second{
    width: 25%;
    float: left;
    height: 60px;
}
.second>dt{
    width: 56px;
    height:60px;
    float: left;
    background: url(../images/icon.png) no-repeat -153px -220px;
}
.second dd{
    height: 60px;
    padding: 9px 0 0 20px;
    letter-spacing: 1.2px;
}
.threed{
    width: 25%;
    float: left;
    height: 60px;
}
.threed>dt{
    width: 56px;
    height:60px;
    float: left;
    background: url(../images/icon.png) no-repeat -57px -356px;
}
.threed dd{
    float: left;
    height: 60px;
    padding: 9px 0 0 20px;
    letter-spacing: 1.2px;
}
.fourth{
    width: 25%;
    float: left;
    height: 60px;
}
.fourth>dt{
    width: 56px;
    height:60px;
    float: left;
    background: url(../images/icon.png) no-repeat -114px -356px;
}
.phone{
    width: 117px;
    height:20px;
    background: url(../images/icon.png) no-repeat 0 -440px;
}
.fourth dd{
    float: left;
    height: 60px;
    padding: 9px 0 0 20px;
    letter-spacing: 1.2px;
}
.footer{
    width: 100%;
    height:225px;
    background: rgb(37,41,46);
}
.bomLeft{
    width: 70%;
    height: auto;
    float: left;
}
.contenter{
    width: 75%;
    height: 222px;
    margin: 0 auto;
}
.leftTop{
    width: 25%;
    height: 44px;
    margin-top: 50px;
    background: url(../images/icon.png) no-repeat -174px 0px ;
}
.download{
    width: 80%;
    height: 44px;
    padding-left: 60px;
}
.download>p{
    color: rgb(92,92,92);
    letter-spacing: 2px;
    font-size:12px;
    transition-duration: 0.5s;
}
.client{
    margin-top: 10px;
}
.leftTop:hover .download>p{
    color:rgb(153,153,153);
    transition-duration: 0.5s;
}
.code{
    display: none;
    width: 283px;
    height: 187px;
    position: absolute;
    margin-top: -240px;
    margin-left: -60px;
}
.codeImg{
    width: 283px;
    height: 100px;
    background: url(../images/icon.png) no-repeat 0px -47px ;    
}
.codeType>p{
    width: 98px;
    height: 52px;
    line-height: 52px;
    color: rgb(77, 77, 77);
    text-align: center;
    float: left;
    letter-spacing: 0;
    font-size: 13px;
}
.leftTop>a:hover .code{
    display: block;
}
.leftBtom{
    padding-top: 30px;
}
.btomBaner{
    color: rgb(92, 92, 92);
}
.btomBaner>a{
    font-size: 12px;
    padding:  0 8px 0 10px;
    color: rgb(92, 92, 92);
    transition-duration: 0.5s;
}
.btomBaner>a:hover{
    color:rgb(153,153,153);
    transition-duration: 0.5s;
}
.leftLast{
    color: rgb(92, 92, 92);
    font-size: 12px;
}
.leftLast_this{
    color: rgb(92, 92, 92);
    font-size: 12px;
    letter-spacing: 3px;
}
.bomRight{
    width: 30%;
    height: auto;
    float: left;
    
}
.bomImgO{
    display: inline-block;
    width: 26px;
    height: 20px;
    background: url(../images/icon.png) no-repeat -100px 0px;  
    margin: 50px 0  0 170px; 
}
.imgO{
    display: none;
    position: absolute;
    width: 145px;
    height: 145px;
    margin-top: -195px;
    margin-left: -60px;
    background: url(../images/icon.png) no-repeat 0px -147px ;
}
.bomImgO:hover{
    background: url(../images/icon.png) no-repeat -100px -23px;
}
.bomImgO:hover .imgO{
    display: block;
}
.bomImgT{
    display: inline-block;
    width: 26px;
    height: 20px;
    background: url(../images/icon.png) no-repeat -149px 0px;  
    margin-left: 20px;
}
.bomImgT:hover{
    background: url(../images/icon.png) no-repeat -149px -23px;  
}
.bomImgH{
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url(../images/icon.png) no-repeat -129px 0px;  
    margin-left: 20px;
}
.bomImgH:hover{
    background: url(../images/icon.png) no-repeat -129px -25px;  
}
.call{
    right: 50px;
    position: fixed;
    top:85%;
    width: 59px;
    height: 60px;
    background: url(../images/icon.png) no-repeat -19px -812px;
    transition-duration: 0.5s;
}
.call:hover{
    opacity: 0.3;
    background: url(../images/icon.png) no-repeat -19px -812px;
    transition-duration: 0.5s;
}
.call_service{
    border-radius: 5px;
    right: 30px;
    position: fixed;
    top:94.5%;
    display: inline-block;
    width: 90px;
    height: 30px;
    background: url(../images/call.png) no-repeat center left;
    background-color: rgb(91, 121, 154);
}
.call_service>p{
    font-size: 14px;
    float: right;
    margin-right: 5px;
    line-height: 30px;
    color:white;
}