#shoppingStepV2 {
    width: 100%;
    color: #333;
    vertical-align: middle;
    padding: 50px 0px 10px 0px;
    height: 32px;
    text-align: center;
    font-size: 14px;
}
#shoppingStepV2 .item {
    width: auto;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}
#shoppingStepV2 .item .txt {
    width: 135px;
    height: 20px;
    display: block;
    color: #666;
}